Django>=6.0.2
asgiref>=3.8.0
psycopg2-binary>=2.9.9
dj-database-url>=2.3.0
django-cors-headers>=4.9.0
djangorestframework>=3.17.1
djangorestframework-simplejwt>=5.5.0
django-anymail>=15.0
cloudinary>=1.44.2
django-cloudinary-storage>=0.3.0
python-dotenv>=1.2.2
gunicorn>=23.0.0
whitenoise>=6.8.0
requests>=2.34.2
sqlparse>=0.5.5
# Kept these simple as they rarely cause conflicts
certifi>=2026.5.20
charset-normalizer>=3.4.7
idna>=3.16
six>=1.17.0
tzdata>=2025.3
urllib3>=2.7.0
Pillow>=11.0.0